@model IEnumerable<WebApplication2.Models.Cart>
@{
    ViewBag.Title = "successfull";
}
<div class="container">
    <h2>successfull</h2>
    <p>Thank you for purchasing caps from us. Your order delivery is pending. We will update delivery status as soon as we ship your order.</p>
</div>
